
.header {
  padding: 2% 0;
  grid-area: header;
  background-color: #ffffff;
  display: grid;
  width: 100%;
  grid-template-areas: "logo" "search" "buttons";
  grid-template-columns: 1fr 2fr 1fr;
}
.logo {
  width: 15%;
  justify-self: center;
}

.search_term{
  width: 75%;
  height: 22px;
  padding-left: 5%;
  align-self: center;
}
.search_button {
  height: 28px;
  width: 18%;
  background-color: #42526C;
  color: white;
  border: none;
}