.ul-app{
  text-align: center;
  list-style-type: none;
}
.header{
  display: flex;
  justify-content: center; 
}
.header a{
  margin-right: 10px;
  text-decoration: none;
}
.last{
  margin-right: 0 !important;
}