.dialogs{
    color: white;
}
.pageDialogs{
    display: flex;
    padding: 5%;
}
.messages{
    flex-grow: 1;
    margin-left: 10%;
}
.items .active{
    color: aqua;
}
.link{
    color: white;
    text-decoration: none;
}