.nav {
  grid-area: nav;
  border-radius: 5px;
  /* border: 2px solid black; */
  background-color: #ffffff;
  padding: 20%;
}

.ullist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.link{
  color: rgba(0,0,0,0.7);
  text-decoration: none;
}
.link.active{
  color: aquamarine;
}
.friends{
  margin-top: 60px;
}
.friend{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.divimg{
  order: -1;
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
}
.image{
  display: inline;
  margin: 0 auto;
  width: 100%;
  /*height: 120%;*/
}